html, body {
    height: 100%;
    widows: 100%;
}

body {
	background-image: url('farm_hands.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
	background-color: #999;
}

.container {
	padding: 25px;
}

hr {
	max-width: 200px;
  	border-width: 3px;
  	border-color: orange; 
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; 
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}


